ALIGNMENT_FEED_BASE_URL = "https://api.alignmentfeed.org"
AUTH_SESSION_SECRET = "local-dev-session-secret"
AUTH0_DOMAIN = "alignment-feed.us.auth0.com"
AUTH0_CLIENT_ID = "aGMS20BZTfNKdXPXAkojqZzPxWqUqbhK"
AUTH0_DEFAULT_REDIRECT_URI = "https://www.alignmentfeed.org"
AUTH0_AUDIENCE = "alignment-feed-api"