@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-align{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-center {
    position: absolute;
    left: 33%;
}
  
.nav-left{
    position: absolute;
    left: 1%;
}
  
.nav-right{
    position: absolute;
    right: 1%;
}